/**
 * name:
 * about: 言語対応
 *************************************/
#i18 {
    z-index: 2005;
}

#i18 .lang {
    float: left;
    margin: 0 5px 0 0;
    position: relative;
}

#i18 .lang:before {
    background: url("../../../img/shop/arrow.gif") no-repeat;
    background-size: 10px 7px;
    content: "";
    height: 7px;
    position: absolute;
    right: 13px;
    top: 12px;
    width: 10px;
}

#i18 .currency {
    float: left;
    position: relative;
}

#i18 .currency:before {
    background: url("../../../img/shop/arrow.gif") no-repeat;
    background-size: 10px 7px;
    content: "";
    height: 7px;
    position: absolute;
    right: 13px;
    top: 12px;
    width: 10px;
}

#i18 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    font-family: inherit;
    font-size: 11px;
    line-height: 18px;
    min-width: inherit;
    padding: 5px 25px 5px 10px;
    vertical-align: middle;
}

/* IE セレクトボックス要素スタイル初期化 */
#i18 select::-ms-expand {
    display: none;
}

/*====================================================================
特定商取引・プライバシーポリシー
====================================================================*/
#privacy,
#law {
    background-color: #fff;
    box-sizing: border-box;
    font-family: Arial, Helvetica, "Hiragino Kaku Gothic ProN",
        "ヒラギノ角ゴ Pro W3", "Meiryo", sans-serif;
    font-size: 13px;
    line-height: 1.6em;
    margin: 0 auto;
    padding: 30px 40px 40px;
    text-align: left;
    width: 960px;
}

#privacy h2,
#law h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 0;
    padding: 0 0 20px;
}

#privacy h3,
#privacy dt {
    font-weight: bold;
    margin: 15px 0 8px;
}

#privacy .privacy_intro {
    margin: 0 0 20px;
}

#law h3 {
    font-weight: bold;
    margin: 20px 0 5px;
}

#law .atobaraiTerm {
    margin: 20px 0;
}

#law .atobaraiTerm .atobaraiTerm__title {
    margin-bottom: 8px;
}

#law .atobaraiTerm .atobaraiTerm__body {
    padding-left: 20px;
}

#law .atobaraiTerm p {
    font-size: 100%;
    line-height: 1.5;
    margin: 0 0 10px;
}

/*====================================================================
  Colorbox
====================================================================*/
.itemCb #cboxPrevious {
    background: url(/i/controls.png) no-repeat 0 0;
    bottom: 0;
    height: 20px;
    left: 0;
    overflow: visible;
    text-indent: -9999px;
    width: 20px;
}

.itemCb #cboxNext {
    background: url(/i/controls.png) no-repeat -22px 0;
    bottom: 0;
    height: 20px;
    left: 30px !important;
    overflow: visible;
    text-indent: -9999px;
    width: 20px;
}

.itemCb #cboxClose {
    background: url(/i/controls.png) no-repeat -52px 0;
    height: 20px;
    overflow: visible;
    text-indent: -9999px;
    width: 20px;
}

/* ボタンのスタイルをリセット */
.itemCb #cboxContent button {
    border: none;
}

/* 青い線が出るのを防止 */
.itemCb:focus {
    outline: none;
}

a.cboxElement:focus {
    outline: none;
}

/*====================================================================
  common
====================================================================*/

/* clearfix */
.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

/* 表示非表示 */
.show {
    display: block !important;
}

.hide {
    display: none !important;
}

/* 全体背景 */
.overlayBackground {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*====================================================================
  Element
====================================================================*/

/**
 * name: #gb
 * source: shopTemplate/base_menu
 *************************************/
#baseMenu {
    box-sizing: border-box;
    position: fixed;
    right: 25px;
    top: 5px;
    z-index: 2002;
}

#baseMenu > ul > li {
    float: left;
    list-style: none;
}

#baseMenu > ul > li.base {
    margin: 0 10px 0 0;
}

#baseMenu > ul > li a {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 1px rgba(150, 150, 150, 0.4);
    cursor: pointer;
    display: block;
    -webkit-font-smoothing: antialiased;
    margin: 1px 0 0;
    padding: 5px 15px;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#baseMenu > ul > li a:hover {
    box-shadow: 0 0 0 1px rgba(150, 150, 150, 0.2);
    padding: 6px 15px 4px;
}

.base {display:none;}

/*====================================================================
  fonts
====================================================================*/
@font-face {
    font-family: "shopicon";
    font-style: normal;
    font-weight: normal;
    src: url("/css/shopTemplate/fonts/shopicon.eot?md4x76");
    src: url("/css/shopTemplate/fonts/shopicon.eot?md4x76#iefix")
        format("embedded-opentype"),
        url("/css/shopTemplate/fonts/shopicon.ttf?md4x76") format("truetype"),
        url("/css/shopTemplate/fonts/shopicon.woff?md4x76") format("woff"),
        url("/css/shopTemplate/fonts/shopicon.svg?md4x76#shopicon")
        format("svg");
}

[class^="si-"],
[class*=" si-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "shopicon" !important;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

.si-attentionTriangle:before {
    content: "\e903";
}
.si-cart:before {
    content: "\e900";
}
.si-message:before {
    content: "\e901";
}
.si-cross:before {
    content: "\e902";
}
.si-search:before {
    content: "\e912";
}
.si-information:before {
    content: "\e919";
}
.si-tipi:before {
    content: "\e922";
}
.si-pin:before {
    content: "\e929";
}


/*====================================================================
シェアボタン
====================================================================*/
.shareButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: start;
    cursor: pointer;
    margin: 0 0 12px 0;
    padding: 0;
    vertical-align: top;
    font-size: 12px;
    color: #999999 !important;
    text-decoration: none;
}
.shareButtons .pinterest {
    margin: 0 8px 4px 0;
}
.shareButtons .twitter {
    margin: 0 8px 4px 0;
}
.shareButtons .facebook {
    margin: 0 8px 4px 0;
}

 /*====================================================================
通報ボタン
====================================================================*/
#reportBtn a {
    color: #999999 !important;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    vertical-align: middle;
    text-align: left;
}
#reportBtn a:hover {
    opacity: 1;
    text-decoration: none;
}
