.itemSearch__btn {
 cursor:pointer
}
.itemSearch__btn:focus {
 outline:0
}
.theme--0 .itemSearch {
 height:32px;
 overflow:visible;
 z-index:2002
}
.theme--0 .itemSearch__form {
 background-color:#fff;
 border:1px solid #ccc;
 border-radius:2px;
 display:inline-block;
 padding:0 30px 0 0;
 position:relative;
 height:28px;
 width:120px
}
.theme--0 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 box-sizing:border-box;
 box-shadow:none;
 border-radius:5px;
 border:none;
 display:inline-block;
 padding:0 0 0 8px;
 margin:0;
 height:28px;
 width:120px
}
.theme--0 .itemSearch__field:placeholder-shown {
 font-family:Arial;
 letter-spacing:2px
}
.theme--0 .itemSearch__field::-webkit-input-placeholder {
 font-family:Arial;
 letter-spacing:2px
}
.theme--0 .itemSearch__field:-ms-input-placeholder {
 font-family:Arial;
 letter-spacing:2px
}
.theme--0 .itemSearch__field::-moz-placeholder {
 font-family:Arial;
 letter-spacing:2px
}
.theme--0 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 color:#999;
 display:block;
 font-size:16px;
 position:absolute;
 right:5px;
 top:5px;
 width:28px
}
.theme--0 h3.titleForSearchResult {
 line-height:1.4;
 margin:20px auto 60px;
 padding:10px 0;
 text-align:center;
 width:960px
}
.theme--1 .menu li.itemSearch {
 width:120px
}
.theme--1 .itemSearch__form {
 border:none;
 display:inline-block;
 margin-top:-2px;
 padding:0 28px 0 0;
 position:relative;
 width:60px;
 height:24px
}
.theme--1 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 background-color:transparent;
 box-sizing:border-box;
 box-shadow:none;
 border:none;
 display:inline-block;
 margin:0;
 padding:0 0 0 8px;
 position:absolute;
 left:0;
 top:-2px;
 height:20px;
 width:60px
}
.theme--1 input[type=text].itemSearch__field:focus {
 outline:0
}
.theme--1 .itemSearch__field:placeholder-shown {
 font-size:13px;
 letter-spacing:1px
}
.theme--1 .itemSearch__field::-webkit-input-placeholder {
 font-size:13px;
 letter-spacing:1px
}
.theme--1 .itemSearch__field:-ms-input-placeholder {
 font-size:13px;
 letter-spacing:1px
}
.theme--1 .itemSearch__field::-moz-placeholder {
 font-size:13px;
 letter-spacing:1px
}
.theme--1 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 display:block;
 font-size:14px;
 position:absolute;
 right:10px;
 width:24px
}
.theme--1 .itemSearch__btn:focus {
 outline:0
}
.theme--1 .titleForSearchResult {
 color:#4d4d4d;
 margin:0 auto 0;
 padding:50px 0 0;
 text-align:center;
 width:840px
}
.theme--1 .titleForSearchResult+.tmpBox {
 margin-top:50px
}
.theme--2 nav {
 overflow:visible
}
.theme--2 .container #header nav ul li {
 width:auto
}
.theme--2 .itemSearch {
 overflow:visible;
 position:relative
}
.theme--2 .searchFormContainer {
 background-color:#333;
 display:none;
 padding:0;
 position:absolute;
 left:-80px;
 top:38px;
 width:160px;
 z-index:9999
}
.theme--2 .searchFormContainer.show {
 display:block
}
.theme--2 .itemSearch__field {
 background-color:transparent;
 border:none;
 box-sizing:border-box;
 color:#fff;
 height:30px;
 padding:0 30px 0 10px;
 width:100%
}
.theme--2 .itemSearch__field:focus {
 outline:0
}
.theme--2 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 color:#fff;
 display:block;
 font-size:14px;
 position:absolute;
 right:5px;
 top:6px;
 width:28px
}
.theme--2 .titleForSearchResult {
 color:#333;
 font-size:16px;
 margin:0 auto;
 padding:30px 0 40px;
 text-align:center;
 width:960px
}
.theme--3 .itemSearch {
 height:32px;
 overflow:visible;
 z-index:2002
}
.theme--3 .itemSearch__form {
 background-color:#fff;
 border:1px solid #ccc;
 border-radius:2px;
 display:inline-block;
 padding:0 30px 0 0;
 position:relative;
 height:28px;
 width:120px
}
.theme--3 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 box-sizing:border-box;
 box-shadow:none;
 border-radius:5px;
 border:none;
 display:inline-block;
 padding:0 0 0 8px;
 margin:0;
 height:28px;
 width:120px
}
.theme--3 .itemSearch__field:placeholder-shown {
 font-size:16px
}
.theme--3 .itemSearch__field::-webkit-input-placeholder {
 font-size:16px
}
.theme--3 .itemSearch__field:-ms-input-placeholder {
 font-size:16px
}
.theme--3 .itemSearch__field::-moz-placeholder {
 font-size:16px
}
.theme--3 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 color:#5e5e5e;
 display:block;
 font-size:16px;
 position:absolute;
 right:5px;
 top:5px;
 width:28px
}
.theme--3 .titleForSearchResult {
 text-align:center;
 padding:0 0 70px
}
.theme--4 .itemSearch {
 height:32px;
 overflow:visible;
 z-index:2002
}
.theme--4 .itemSearch__form {
 background-color:#fff;
 border:1px solid #ccc;
 border-radius:3px;
 display:inline-block;
 padding:0 30px 0 0;
 position:relative;
 height:28px;
 width:120px
}
.theme--4 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 box-sizing:border-box;
 box-shadow:none;
 border-radius:5px;
 border:none;
 display:inline-block;
 padding:0 0 0 8px;
 margin:0;
 height:28px;
 width:120px
}
.theme--4 .itemSearch__field:placeholder-shown {
 font-family:'PT Sans Narrow',sans-serif;
 font-size:17px
}
.theme--4 .itemSearch__field::-webkit-input-placeholder {
 font-family:'PT Sans Narrow',sans-serif;
 font-size:17px
}
.theme--4 .itemSearch__field:-ms-input-placeholder {
 font-family:'PT Sans Narrow',sans-serif;
 font-size:17px
}
.theme--4 .itemSearch__field::-moz-placeholder {
 font-family:'PT Sans Narrow',sans-serif;
 font-size:17px
}
.theme--4 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 color:#5e5e5e;
 display:block;
 font-size:16px;
 position:absolute;
 right:6px;
 top:5px;
 width:28px
}
.theme--4 .titleForSearchResult {
 font-size:16px;
 text-align:center;
 padding:30px 0 70px
}
.theme--5 nav#global li.itemSearch {
 margin-bottom:30px
}
.theme--5 .itemSearch__form {
 background-color:#f3f3f3;
 display:inline-block;
 padding:0 30px 0 0;
 position:relative
}
.theme--5 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 background-color:transparent;
 box-sizing:border-box;
 box-shadow:none;
 border:none;
 display:inline-block;
 font-size:16px;
 padding:0 0 0 8px;
 margin:0;
 height:32px;
 width:140px
}
.theme--5 .itemSearch__field:placeholder-shown {
 font-size:18px
}
.theme--5 .itemSearch__field::-webkit-input-placeholder {
 font-size:18px
}
.theme--5 .itemSearch__field:-ms-input-placeholder {
 font-size:18px
}
.theme--5 .itemSearch__field::-moz-placeholder {
 font-size:18px
}
.theme--5 input[type=text].itemSearch__field:focus {
 outline:0
}
.theme--5 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 color:#333;
 display:block;
 font-size:18px;
 position:absolute;
 right:8px;
 top:4px;
 width:28px
}
.theme--5 .titleForSearchResult {
 font-size:16px;
 padding:0 0 30px
}
.theme--5 .titleForSearchResult+section.tmpBox {
 margin-top:20px
}
.theme--6.page .navigation ul li.itemSearch {
 padding:0 10px 0 20px
}
.theme--6 .page .navigation ul li.itemSearch:hover {
 border-bottom:none
}
.theme--6 .itemSearch__form {
 width:170px;
 box-sizing:border-box;
 border:1px solid #000;
 border-radius:5px;
 top:-2px;
 position:relative
}
.theme--6 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 background-color:transparent;
 box-sizing:border-box;
 box-shadow:none;
 border-radius:5px;
 border:none;
 display:inline-block;
 font-size:14px;
 padding:0 0 0 8px;
 margin:0;
 height:28px;
 width:140px
}
.theme--6 .itemSearch__field:placeholder-shown {
 font-size:16px
}
.theme--6 .itemSearch__field::-webkit-input-placeholder {
 font-size:16px
}
.theme--6 .itemSearch__field:-ms-input-placeholder {
 font-size:16px
}
.theme--6 .itemSearch__field::-moz-placeholder {
 font-size:16px
}
.theme--6 input[type=text].itemSearch__field:focus {
 outline:0
}
.theme--6 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 display:block;
 font-size:19px;
 position:absolute;
 right:6px;
 top:3px;
 width:28px
}
.theme--6 .titleForSearchResult {
 font-size:14px;
 margin:0 auto;
 padding:50px 0 0;
 width:960px
}
.theme--7 nav .menu li.itemSearch {
 padding:0 10px 0 20px;
 position:relative
}
.theme--7 nav .menu li.itemSearch:hover {
 border-bottom:none
}
.theme--7 .itemSearch__form {
 background-color:#fff;
 border-radius:5px;
 color:#fff;
 display:inline-block;
 padding:0 30px 0 0
}
.theme--7 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 background-color:transparent;
 box-sizing:border-box;
 box-shadow:none;
 border-radius:5px;
 border:none;
 display:inline-block;
 font-size:14px;
 padding:0 0 0 8px;
 margin:0;
 height:28px;
 width:140px
}
.theme--7 .itemSearch__field:placeholder-shown {
 font-family:'PT Sans Narrow',sans-serif;
 font-size:14px
}
.theme--7 .itemSearch__field::-webkit-input-placeholder {
 font-family:'PT Sans Narrow',sans-serif;
 font-size:14px
}
.theme--7 .itemSearch__field:-ms-input-placeholder {
 font-family:'PT Sans Narrow',sans-serif;
 font-size:14px
}
.theme--7 .itemSearch__field::-moz-placeholder {
 font-family:'PT Sans Narrow',sans-serif;
 font-size:14px
}
.theme--7 input[type=text].itemSearch__field:focus {
 outline:0
}
.theme--7 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 color:#999;
 display:block;
 font-size:18px;
 position:absolute;
 right:15px;
 top:3px;
 width:28px
}
.theme--7 .titleForSearchResult {
 font-size:14px;
 margin:0 auto;
 padding:10px 0 40px;
 text-align:left;
 width:960px
}
.theme--8 .template .menu li.itemSearch:hover {
 background-color:transparent
}
.theme--8 .itemSearch__form {
 border:1px solid #000;
 display:block;
 height:32px;
 margin:0 auto;
 padding:0;
 position:relative;
 width:190px
}
.theme--8 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 background-color:transparent;
 box-sizing:border-box;
 box-shadow:none;
 border:none;
 display:inline-block;
 font-size:14px;
 padding:0 30px 0 8px;
 position:absolute;
 left:0;
 top:0;
 margin:0;
 height:32px;
 width:190px
}
.theme--8 .itemSearch__field:placeholder-shown {
 font-size:12px;
 font-family:'Frutiger Roman',sans-serif
}
.theme--8 .itemSearch__field::-webkit-input-placeholder {
 font-size:12px;
 font-family:'Frutiger Roman',sans-serif
}
.theme--8 .itemSearch__field:-ms-input-placeholder {
 font-size:12px;
 font-family:'Frutiger Roman',sans-serif
}
.theme--8 .itemSearch__field::-moz-placeholder {
 font-size:12px;
 font-family:'Frutiger Roman',sans-serif
}
.theme--8 input[type=text].itemSearch__field:focus {
 outline:0
}
.theme--8 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 display:block;
 font-size:18px;
 line-height:1;
 position:absolute;
 right:8px;
 top:6px;
 width:28px
}
.theme--8 .titleForSearchResult {
 color:#333;
 font-size:16px;
 margin:-40px auto 0;
 padding:0 0 40px;
 text-align:left
}
body.shop.theme--9 #shopHeader nav ul li {
 vertical-align:middle
}
.theme--9 .itemSearch__form {
 border:none;
 display:inline-block;
 padding:0 30px 0 0;
 position:relative;
 width:65px;
 height:40px
}
.theme--9 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 background-color:transparent;
 box-sizing:border-box;
 box-shadow:none;
 border:none;
 display:inline-block;
 margin:auto;
 padding:0 0 0 8px;
 position:absolute;
 top:0;
 left:0;
 bottom:0;
 height:20px;
 width:65px
}
.theme--9 input[type=text].itemSearch__field:focus {
 outline:0
}
.theme--9 .itemSearch__field:placeholder-shown {
 font-size:12px;
 letter-spacing:1px
}
.theme--9 .itemSearch__field::-webkit-input-placeholder {
 font-size:12px;
 letter-spacing:1px
}
.theme--9 .itemSearch__field:-ms-input-placeholder {
 font-size:12px;
 letter-spacing:1px
}
.theme--9 .itemSearch__field::-moz-placeholder {
 font-size:12px;
 letter-spacing:1px
}
.theme--9 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 display:block;
 font-size:15px;
 position:absolute;
 top:0;
 right:5px;
 bottom:0;
 width:auto
}
.theme--9 .itemSearch__btn:focus {
 outline:0
}
.theme--9 .titleForSearchResult {
 font-size:14px;
 font-weight:400;
 margin:-20px auto 0;
 padding:0 0 30px;
 text-align:center;
 width:960px
}
.theme--10 .template .menu li.itemSearch:hover {
 background-color:transparent
}
.theme--10 .itemSearch__form {
 background-color:#fff;
 display:block;
 height:32px;
 margin:0 auto;
 padding:0;
 position:relative;
 width:175px
}
.theme--10 input[type=text].itemSearch__field {
 -webkit-appearance:none;
 background-color:transparent;
 box-sizing:border-box;
 box-shadow:none;
 border:none;
 display:inline-block;
 font-size:18px;
 padding:0 30px 0 8px;
 position:absolute;
 left:0;
 top:0;
 margin:0;
 height:32px;
 width:190px
}
.theme--10 .itemSearch__field:placeholder-shown {
 font-size:18px
}
.theme--10 .itemSearch__field::-webkit-input-placeholder {
 font-size:18px
}
.theme--10 .itemSearch__field:-ms-input-placeholder {
 font-size:18px
}
.theme--10 .itemSearch__field::-moz-placeholder {
 font-size:18px
}
.theme--10 input[type=text].itemSearch__field:focus {
 outline:0
}
.theme--10 .itemSearch__btn {
 background-color:transparent;
 border-style:none;
 color:#000;
 display:block;
 font-size:18px;
 position:absolute;
 right:8px;
 top:6px;
 width:28px
}
.theme--10 .itemSearch__btn:focus {
 outline:0
}
.theme--10 .titleForSearchResult {
 color:#000;
 font-size:14px;
 font-weight:400;
 margin:-20px 0 0;
 padding:0 0 60px;
 text-align:left;
 width:960px
}
